In [1]:
import pandas as pd
import numpy as np

In [5]:
df_temp = pd.read_csv('./temp_country_group.csv')
df_temp = df_temp.set_index(['ISO Code'])

df_temp_1950 = df_temp[[x >= 1950 for x in df_temp.dt]].reset_index()

df_temp_1950_pivot = df_temp_1950.pivot(index='ISO Code', columns='dt', values='AverageTemperature')

df_temp_1950 = df_temp_1950.set_index(['ISO Code', 'dt'])
df_temp_1950.head()

               AverageTemperature
ISO Code dt
ABW      1950           27.488500
         1951           28.181667
         1952           28.505833
         1953           28.451417
         1954           28.057667

In [7]:
df_delta_temp = df_temp_1950_pivot.copy()

df_1950 = df_delta_temp[1950].copy()

for col in df_delta_temp.columns:
    df_delta_temp[col] = np.around(df_delta_temp[col] - df_1950, decimals=5)

df_delta_temp = df_delta_temp.reset_index()

#df_delta_temp.to_csv('delta_temp.csv', encoding='utf-8', index=False)
#df_delta_temp = pd.read_csv('delta_temp.csv')

df_melt = pd.melt(df_delta_temp, id_vars='ISO Code', value_vars=list(df_delta_temp.columns[1:]), var_name='dt', value_name='delta')

df_melt = df_melt.set_index(['ISO Code', 'dt'])
df_melt = df_melt.sort_index()
df_melt.head()

                 delta
ISO Code dt
ABW      1950  0.00000
         1951  0.69317
         1952  1.01733
         1953  0.96292
         1954  0.56917

In [11]:
df_merged = df_melt.join(df_temp_1950)
df_merged.head()

                 delta  AverageTemperature
ISO Code dt
ABW      1950  0.00000           27.488500
         1951  0.69317           28.181667
         1952  1.01733           28.505833
         1953  0.96292           28.451417
         1954  0.56917           28.057667

In [9]:
df_pop = pd.read_excel('population_country.xls')
df_pop =df_pop.dropna(how='all', axis=1)
df_pop = df_pop.drop(['Country Name', 'Indicator Name', 'Indicator Code'], axis=1)

#df_pop.to_csv('population_country.csv', index=False, encoding='utf-8')
#df_pop = pd.read_csv('population_country.csv')

df_melt2 = pd.melt(df_pop, id_vars='Country Code', value_vars=list(df_pop.columns[1:]), var_name='dt', value_name='population')
df_melt2.dt = df_melt2.dt.astype(int)
df_melt2 = df_melt2.rename(columns={'Country Code':'ISO Code'})
df_melt2 = df_melt2.set_index(['ISO Code', 'dt'])
df_melt2 = df_melt2.sort_index()
df_melt2.head()

               population
ISO Code dt
ABW      1960     54211.0
         1961     55438.0
         1962     56225.0
         1963     56695.0
         1964     57032.0

In [16]:
df_merged2 = df_melt2.join(df_merged)
df_merged2.head(70)

               population    delta  AverageTemperature
ISO Code dt
ABW      1960     54211.0  0.76508           28.253583
         1961     55438.0  0.58433           28.072833
         1962     56225.0  0.79750           28.286000
         1963     56695.0  0.82875           28.317250
         1964     57032.0  0.58792           28.076417
         1965     57360.0  0.55825           28.046750
         1966     57715.0  0.75267           28.241167
         1967     58055.0  0.46625           27.954750
         1968     58386.0  0.62583           28.114333
         1969     58726.0  1.14250           28.631000
         1970     59063.0  0.88083           28.369333
         1971     59440.0  0.40150           27.890000
         1972     59840.0  0.86383           28.352333
         1973     60243.0  0.84333           28.331833
         1974     60528.0  0.21175           27.700250
         1975     60657.0  0.45475           27.943250
         1976     60586.0  0.32158           27.810083
         1977     60366.0  0.96592           28.454417
         1978     60103.0  0.90308           28.391583
         1979     59980.0  0.94383           28.432333
         1980     60096.0  1.13842           28.626917
         1981     60567.0  0.95975           28.448250
         1982     61345.0  0.75800           28.246500
         1983     62201.0  1.19850           28.687000
         1984     62836.0  0.70967           28.198167
         1985     63026.0  0.39717           27.885667
         1986     62644.0  0.50083           27.989333
         1987     61833.0  1.37092           28.859417
         1988     61079.0  0.86142           28.349917
         1989     61032.0  0.64608           28.134583
...                   ...      ...                 ...
         2000     90853.0  0.63950           28.128000
         2001     92898.0  1.14242           28.630917
         2002     94992.0  1.36075           28.849250
         2003     97017.0  1.36117           28.849667
         2004     98737.0  1.01750           28.506000
         2005    100031.0  1.28375           28.772250
         2006    100832.0  1.31617           28.804667
         2007    101220.0  1.33433           28.822833
         2008    101353.0  0.96175           28.450250
         2009    101453.0  1.34350           28.832000
         2010    101669.0  1.47983           28.968333
         2011    102053.0  1.02483           28.513333
         2012    102577.0  1.16383           28.652333
         2013    103187.0  1.05275           28.541250
         2014    103795.0      NaN                 NaN
         2015    104341.0      NaN                 NaN
         2016    104822.0      NaN                 NaN
AFG      1960   8996351.0  0.94192           13.985417
         1961   9166764.0  1.02142           14.064917
         1962   9345868.0  0.72517           13.768667
         1963   9533954.0  1.98992           15.033417
         1964   9731361.0  0.04142           13.084917
         1965   9938414.0  1.05833           14.101833
         1966  10152331.0  1.29950           14.343000
         1967  10372630.0  0.61975           13.663250
         1968  10604346.0  0.71883           13.762333
         1969  10854428.0  0.76158           13.805083
         1970  11126123.0  1.73958           14.783083
         1971  11417825.0  1.78000           14.823500
         1972  11721940.0 -0.49633           12.547167

[70 rows x 3 columns]

In [17]:
df_co2 = pd.read_excel('CO2_country.xls')
df_co2 = df_co2.dropna(how='all', axis=1)
df_co2 = df_co2.drop(['Country Name', 'Indicator Name', 'Indicator Code'], axis=1)

#df_co2.to_csv('CO2_country.csv', index=False, encoding='utf-8')
#df_co2 = pd.read_csv('CO2_country.csv')

df_melt3 = pd.melt(df_co2, id_vars='Country Code', value_vars=list(df_pop.columns[1:]), var_name='dt', value_name='CO2')
df_melt3.dt = df_melt3.dt.astype(int)
df_melt3 = df_melt3.rename(columns={'Country Code':'ISO Code'})
df_melt3 = df_melt3.set_index(['ISO Code', 'dt'])
df_melt3 = df_melt3.sort_index()
df_melt3.head()

               CO2
ISO Code dt
ABW      1960  NaN
         1961  NaN
         1962  NaN
         1963  NaN
         1964  NaN

In [30]:
df_merged3 = df_melt3.join(df_merged2)
df_full_data = df_merged3.reset_index()
df_full_data.head()

  ISO Code    dt  CO2  population    delta  AverageTemperature
0      ABW  1960  NaN     54211.0  0.76508           28.253583
1      ABW  1961  NaN     55438.0  0.58433           28.072833
2      ABW  1962  NaN     56225.0  0.79750           28.286000
3      ABW  1963  NaN     56695.0  0.82875           28.317250
4      ABW  1964  NaN     57032.0  0.58792           28.076417

In [31]:
df_full_data = df_full_data.dropna(subset=['delta'],thresh=1)

df_full_data.to_csv('full_data.csv', index=False, encoding='utf-8')
df_full_data = pd.read_csv('full_data.csv')

df_full_data.head(70)

   ISO Code    dt        CO2  population    delta  AverageTemperature
0       ABW  1960        NaN     54211.0  0.76508           28.253583
1       ABW  1961        NaN     55438.0  0.58433           28.072833
2       ABW  1962        NaN     56225.0  0.79750           28.286000
3       ABW  1963        NaN     56695.0  0.82875           28.317250
4       ABW  1964        NaN     57032.0  0.58792           28.076417
5       ABW  1965        NaN     57360.0  0.55825           28.046750
6       ABW  1966        NaN     57715.0  0.75267           28.241167
7       ABW  1967        NaN     58055.0  0.46625           27.954750
8       ABW  1968        NaN     58386.0  0.62583           28.114333
9       ABW  1969        NaN     58726.0  1.14250           28.631000
10      ABW  1970        NaN     59063.0  0.88083           28.369333
11      ABW  1971        NaN     59440.0  0.40150           27.890000
12      ABW  1972        NaN     59840.0  0.86383           28.352333
13      ABW  1973        NaN     60243.0  0.84333           28.331833
14      ABW  1974        NaN     60528.0  0.21175           27.700250
15      ABW  1975        NaN     60657.0  0.45475           27.943250
16      ABW  1976        NaN     60586.0  0.32158           27.810083
17      ABW  1977        NaN     60366.0  0.96592           28.454417
18      ABW  1978        NaN     60103.0  0.90308           28.391583
19      ABW  1979        NaN     59980.0  0.94383           28.432333
20      ABW  1980        NaN     60096.0  1.13842           28.626917
21      ABW  1981        NaN     60567.0  0.95975           28.448250
22      ABW  1982        NaN     61345.0  0.75800           28.246500
23      ABW  1983        NaN     62201.0  1.19850           28.687000
24      ABW  1984        NaN     62836.0  0.70967           28.198167
25      ABW  1985        NaN     63026.0  0.39717           27.885667
26      ABW  1986   2.868319     62644.0  0.50083           27.989333
27      ABW  1987   7.235198     61833.0  1.37092           28.859417
28      ABW  1988  10.026179     61079.0  0.86142           28.349917
29      ABW  1989  10.634733     61032.0  0.64608           28.134583
..      ...   ...        ...         ...      ...                 ...
40      ABW  2000  26.194875     90853.0  0.63950           28.128000
41      ABW  2001  25.934024     92898.0  1.14242           28.630917
42      ABW  2002  25.671162     94992.0  1.36075           28.849250
43      ABW  2003  26.420452     97017.0  1.36117           28.849667
44      ABW  2004  26.517293     98737.0  1.01750           28.506000
45      ABW  2005  27.200708    100031.0  1.28375           28.772250
46      ABW  2006  26.948260    100832.0  1.31617           28.804667
47      ABW  2007  27.895574    101220.0  1.33433           28.822833
48      ABW  2008  26.230847    101353.0  0.96175           28.450250
49      ABW  2009  25.915833    101453.0  1.34350           28.832000
50      ABW  2010  24.670529    101669.0  1.47983           28.968333
51      ABW  2011  24.505835    102053.0  1.02483           28.513333
52      ABW  2012  13.155542    102577.0  1.16383           28.652333
53      ABW  2013   8.351294    103187.0  1.05275           28.541250
54      AFG  1960   0.046060   8996351.0  0.94192           13.985417
55      AFG  1961   0.053604   9166764.0  1.02142           14.064917
56      AFG  1962   0.073765   9345868.0  0.72517           13.768667
57      AFG  1963   0.074233   9533954.0  1.98992           15.033417
58      AFG  1964   0.086292   9731361.0  0.04142           13.084917
59      AFG  1965   0.101467   9938414.0  1.05833           14.101833
60      AFG  1966   0.107637  10152331.0  1.29950           14.343000
61      AFG  1967   0.123734  10372630.0  0.61975           13.663250
62      AFG  1968   0.115498  10604346.0  0.71883           13.762333
63      AFG  1969   0.086823  10854428.0  0.76158           13.805083
64      AFG  1970   0.150291  11126123.0  1.73958           14.783083
65      AFG  1971   0.166042  11417825.0  1.78000           14.823500
66      AFG  1972   0.130764  11721940.0 -0.49633           12.547167
67      AFG  1973   0.136280  12027822.0  1.19200           14.235500
68      AFG  1974   0.155649  12321541.0  0.27325           13.316750
69      AFG  1975   0.168929  12590286.0  0.50458           13.548083

[70 rows x 6 columns]