In [5]:
import pandas as pd
import numpy as np

In [6]:
df_temp = pd.read_csv('./temp_country_group.csv')
df_temp = df_temp.set_index(['ISO Code'])

df_temp_1950 = df_temp[[x >= 1950 for x in df_temp.dt]].reset_index()

df_temp_1950_pivot = df_temp_1950.pivot(index='ISO Code', columns='dt', values='AverageTemperature')

df_temp_1950 = df_temp_1950.set_index(['ISO Code', 'dt'])
df_temp_1950.head()

               AverageTemperature
ISO Code dt
ABW      1950           27.488500
         1951           28.181667
         1952           28.505833
         1953           28.451417
         1954           28.057667

In [7]:
df_delta_temp = df_temp_1950_pivot.copy()

df_1950 = df_delta_temp[1950].copy()

for col in df_delta_temp.columns:
    df_delta_temp[col] = np.around(df_delta_temp[col] - df_1950, decimals=5)

df_delta_temp = df_delta_temp.reset_index()

#df_delta_temp.to_csv('delta_temp.csv', encoding='utf-8', index=False)
#df_delta_temp = pd.read_csv('delta_temp.csv')

df_melt = pd.melt(df_delta_temp, id_vars='ISO Code', value_vars=list(df_delta_temp.columns[1:]), var_name='dt', value_name='delta')

df_melt = df_melt.set_index(['ISO Code', 'dt'])
df_melt = df_melt.sort_index()
df_melt.head()

                 delta
ISO Code dt
ABW      1950  0.00000
         1951  0.69317
         1952  1.01733
         1953  0.96292
         1954  0.56917

In [8]:
df_merged = df_melt.join(df_temp_1950)
df_merged.head()

                 delta  AverageTemperature
ISO Code dt
ABW      1950  0.00000           27.488500
         1951  0.69317           28.181667
         1952  1.01733           28.505833
         1953  0.96292           28.451417
         1954  0.56917           28.057667

In [9]:
df_pop = pd.read_excel('population_country.xls')
df_pop =df_pop.dropna(how='all', axis=1)
df_pop = df_pop.drop(['Country Name', 'Indicator Name', 'Indicator Code'], axis=1)

#df_pop.to_csv('population_country.csv', index=False, encoding='utf-8')
#df_pop = pd.read_csv('population_country.csv')

df_melt2 = pd.melt(df_pop, id_vars='Country Code', value_vars=list(df_pop.columns[1:]), var_name='dt', value_name='population')
df_melt2.dt = df_melt2.dt.astype(int)
df_melt2 = df_melt2.rename(columns={'Country Code':'ISO Code'})
df_melt2 = df_melt2.set_index(['ISO Code', 'dt'])
df_melt2 = df_melt2.sort_index()
df_melt2.head()

               population
ISO Code dt
ABW      1960     54211.0
         1961     55438.0
         1962     56225.0
         1963     56695.0
         1964     57032.0

In [10]:
df_merged2 = df_melt2.join(df_merged)
df_merged2.head(70)

               population    delta  AverageTemperature
ISO Code dt
ABW      1960     54211.0  0.76508           28.253583
         1961     55438.0  0.58433           28.072833
         1962     56225.0  0.79750           28.286000
         1963     56695.0  0.82875           28.317250
         1964     57032.0  0.58792           28.076417
         1965     57360.0  0.55825           28.046750
         1966     57715.0  0.75267           28.241167
         1967     58055.0  0.46625           27.954750
         1968     58386.0  0.62583           28.114333
         1969     58726.0  1.14250           28.631000
         1970     59063.0  0.88083           28.369333
         1971     59440.0  0.40150           27.890000
         1972     59840.0  0.86383           28.352333
         1973     60243.0  0.84333           28.331833
         1974     60528.0  0.21175           27.700250
         1975     60657.0  0.45475           27.943250
         1976     60586.0  0.32158           27.810083
         1977     60366.0  0.96592           28.454417
         1978     60103.0  0.90308           28.391583
         1979     59980.0  0.94383           28.432333
         1980     60096.0  1.13842           28.626917
         1981     60567.0  0.95975           28.448250
         1982     61345.0  0.75800           28.246500
         1983     62201.0  1.19850           28.687000
         1984     62836.0  0.70967           28.198167
         1985     63026.0  0.39717           27.885667
         1986     62644.0  0.50083           27.989333
         1987     61833.0  1.37092           28.859417
         1988     61079.0  0.86142           28.349917
         1989     61032.0  0.64608           28.134583
...                   ...      ...                 ...
         2000     90853.0  0.63950           28.128000
         2001     92898.0  1.14242           28.630917
         2002     94992.0  1.36075           28.849250
         2003     97017.0  1.36117           28.849667
         2004     98737.0  1.01750           28.506000
         2005    100031.0  1.28375           28.772250
         2006    100832.0  1.31617           28.804667
         2007    101220.0  1.33433           28.822833
         2008    101353.0  0.96175           28.450250
         2009    101453.0  1.34350           28.832000
         2010    101669.0  1.47983           28.968333
         2011    102053.0  1.02483           28.513333
         2012    102577.0  1.16383           28.652333
         2013    103187.0  1.05275           28.541250
         2014    103795.0      NaN                 NaN
         2015    104341.0      NaN                 NaN
         2016    104822.0      NaN                 NaN
AFG      1960   8996351.0  0.94192           13.985417
         1961   9166764.0  1.02142           14.064917
         1962   9345868.0  0.72517           13.768667
         1963   9533954.0  1.98992           15.033417
         1964   9731361.0  0.04142           13.084917
         1965   9938414.0  1.05833           14.101833
         1966  10152331.0  1.29950           14.343000
         1967  10372630.0  0.61975           13.663250
         1968  10604346.0  0.71883           13.762333
         1969  10854428.0  0.76158           13.805083
         1970  11126123.0  1.73958           14.783083
         1971  11417825.0  1.78000           14.823500
         1972  11721940.0 -0.49633           12.547167

[70 rows x 3 columns]

In [11]:
df_co2 = pd.read_excel('CO2_country.xls')
df_co2 = df_co2.dropna(how='all', axis=1)
df_co2 = df_co2.drop(['Country Name', 'Indicator Name', 'Indicator Code'], axis=1)

#df_co2.to_csv('CO2_country.csv', index=False, encoding='utf-8')
#df_co2 = pd.read_csv('CO2_country.csv')

df_melt3 = pd.melt(df_co2, id_vars='Country Code', value_vars=list(df_pop.columns[1:]), var_name='dt', value_name='CO2')
df_melt3.dt = df_melt3.dt.astype(int)
df_melt3 = df_melt3.rename(columns={'Country Code':'ISO Code'})
df_melt3 = df_melt3.set_index(['ISO Code', 'dt'])
df_melt3 = df_melt3.sort_index()
df_melt3.head()

               CO2
ISO Code dt
ABW      1960  NaN
         1961  NaN
         1962  NaN
         1963  NaN
         1964  NaN

In [12]:
df_merged3 = df_melt3.join(df_merged2)
df_full_data = df_merged3.reset_index()
df_full_data.head()

  ISO Code    dt  CO2  population    delta  AverageTemperature
0      ABW  1960  NaN     54211.0  0.76508           28.253583
1      ABW  1961  NaN     55438.0  0.58433           28.072833
2      ABW  1962  NaN     56225.0  0.79750           28.286000
3      ABW  1963  NaN     56695.0  0.82875           28.317250
4      ABW  1964  NaN     57032.0  0.58792           28.076417

In [13]:
df_full_data = df_full_data.dropna(subset=['delta'],thresh=1)

#df_full_data.to_csv('full_data.csv', index=False, encoding='utf-8')
#df_full_data = pd.read_csv('full_data.csv')

In [14]:
footprint = pd.read_csv('nfa_2017_edition.csv')
footprint = footprint[footprint.record == 'EFConsTotGHA'][['country', 'year', 'total']]

C:\Users\Thomas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
dico = {}
df = pd.read_excel('CO2_country.xls')
df = df[['Country Name', 'Country Code']]
for x in range(0, len(df)):
    dico[df['Country Name'].iloc[x]] = df['Country Code'].iloc[x]

footprint = footprint[[(x in dico.keys()) for x in footprint.country]].copy()
foot = footprint.copy()

for i in foot.index:
    foot.loc[i, ['country']] = dico[footprint.loc[i, ['country']][0]]
    
foot = foot.rename(columns = {'country':'ISO Code', 'year':'dt', 'total':'footprint'}).set_index(['ISO Code', 'dt'])

In [16]:
df_merged4 = foot.copy()
df_full_data = df_full_data.set_index(['ISO Code', 'dt']).join(df_merged4)

In [17]:
df_full_data = df_full_data.reset_index()
df_full_data.to_csv('full_data.csv', index=False)

In [18]:
df_full_data = pd.read_csv('full_data.csv')

mean = df_full_data.groupby('dt').mean()
mean = mean.drop('delta', axis=1)
mean_delta = mean.copy()

initial_value = mean_delta.AverageTemperature.iloc[0]
mean_delta['delta'] = mean.AverageTemperature.apply(lambda x: x - initial_value)
mean_delta = mean_delta.reset_index()
mean_delta.to_csv('full_data_mean.csv', index=False, encoding='utf-8')

In [19]:
mean_delta

      dt       CO2    population  AverageTemperature     footprint     delta
0   1960  2.085601  1.536359e+07           18.985930           NaN  0.000000
1   1961  2.237098  1.556949e+07           19.028266  3.576610e+07  0.042336
2   1962  2.349578  1.583616e+07           18.818074  3.683271e+07 -0.167856
3   1963  3.015577  1.616399e+07           18.812124  3.821823e+07 -0.173806
4   1964  3.164053  1.649476e+07           18.680100  3.889915e+07 -0.305830
5   1965  3.303722  1.683242e+07           18.630231  4.030558e+07 -0.355699
6   1966  3.286383  1.718614e+07           19.002867  4.121418e+07  0.016936
7   1967  3.344537  1.753817e+07           18.734773  4.256872e+07 -0.251157
8   1968  3.574265  1.789436e+07           18.711148  4.364703e+07 -0.274782
9   1969  4.330112  1.827196e+07           18.862384  4.585416e+07 -0.123546
10  1970  4.237402  1.865382e+07           18.910078  4.954653e+07 -0.075852
11  1971  4.560174  1.904615e+07           18.695156  5.098964e+07 -0.290774
12  1972  4.555885  1.943495e+07           18.773203  5.218179e+07 -0.212727
13  1973  4.892493  1.981980e+07           18.970669  5.494957e+07 -0.015261
14  1974  4.585199  2.020798e+07           18.725380  5.503220e+07 -0.260551
15  1975  4.470392  2.058732e+07           18.856342  5.496346e+07 -0.129588
16  1976  4.472563  2.095648e+07           18.561477  5.725331e+07 -0.424453
17  1977  4.607248  2.132444e+07           19.029793  5.801675e+07  0.043863
18  1978  4.516324  2.169859e+07           18.823241  6.012656e+07 -0.162689
19  1979  4.638936  2.208205e+07           19.046302  6.212059e+07  0.060372
20  1980  4.547106  2.246899e+07           18.947048  6.163466e+07 -0.038882
21  1981  4.171434  2.286429e+07           19.008862  6.045331e+07  0.022931
22  1982  4.019349  2.327467e+07           18.952105  6.065625e+07 -0.033825
23  1983  3.810318  2.368854e+07           19.191882  6.068955e+07  0.205952
24  1984  3.954327  2.410125e+07           18.852101  6.283877e+07 -0.133830
25  1985  4.036985  2.452249e+07           18.813446  6.316950e+07 -0.172484
26  1986  4.011362  2.495757e+07           18.921582  6.517362e+07 -0.064348
27  1987  4.005272  2.540417e+07           19.169531  6.704916e+07  0.183601
28  1988  4.094947  2.585559e+07           19.228874  6.904913e+07  0.242944
29  1989  4.237917  2.630790e+07           19.151306  7.118806e+07  0.165376
30  1990  4.196134  2.653407e+07           19.423311  7.203249e+07  0.437380
31  1991  4.226667  2.697305e+07           19.110153  7.256620e+07  0.124223
32  1992  4.615914  2.753532e+07           19.065334  7.675662e+07  0.079404
33  1993  4.654993  2.796541e+07           19.026903  7.562766e+07  0.040973
34  1994  4.572052  2.838972e+07           19.376391  7.622552e+07  0.390461
35  1995  4.638200  2.867333e+07           19.372053  7.827550e+07  0.386123
36  1996  4.649070  2.908959e+07           19.056177  7.979532e+07  0.070247
37  1997  4.649923  2.950549e+07           19.349650  8.032182e+07  0.363720
38  1998  4.639902  2.991660e+07           19.705859  8.055510e+07  0.719928
39  1999  4.619445  3.032320e+07           19.498159  8.161926e+07  0.512229
40  2000  4.758364  3.072493e+07           19.471867  8.346013e+07  0.485936
41  2001  4.822450  3.112420e+07           19.538218  8.460344e+07  0.552288
42  2002  4.795803  3.152173e+07           19.681491  8.489955e+07  0.695561
43  2003  4.939750  3.192058e+07           19.632889  8.820806e+07  0.646959
44  2004  4.963699  3.232268e+07           19.528055  9.311807e+07  0.542125
45  2005  5.000517  3.272759e+07           19.583407  9.545789e+07  0.597477
46  2006  5.080532  3.313589e+07           19.622796  9.721453e+07  0.636866
47  2007  5.047453  3.354708e+07           19.726654  1.007873e+08  0.740724
48  2008  5.043589  3.396494e+07           19.545752  1.028959e+08  0.559822
49  2009  4.821657  3.438361e+07           19.671282  1.023330e+08  0.685352
50  2010  4.936638  3.480224e+07           19.764944  1.073140e+08  0.779014
51  2011  4.869976  3.521463e+07           19.550135  1.099598e+08  0.564205
52  2012  4.995073  3.579657e+07           19.568600  1.097379e+08  0.582670
53  2013  4.919320  3.622703e+07           20.019310  1.033813e+08  1.033379